.todo{
 background-color:yellow;
 height:100vh;
}
.box{
    background-color: aliceblue;
    width:50%;
    height: 600px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
i
{
 cursor: pointer ;
}